@use "vars.scss";
@use "base.scss";

.select-wrapper-class {
  min-width: 0px;
}

/* Control (input box) */
.select-wrapper__control {
  display: flex;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: var(--bg-quaternary);
  transition: border-color 0.15s ease-in-out;

  &:hover .select-wrapper__indicator {
    filter: brightness(1.2);
  }
}

.select-wrapper__control--is-focused {
  border: 1px solid var(--border-primary);
}

.select-wrapper__value-container {
  gap: 0.25rem;
}

.select-wrapper__input-container input {
  height: min-content;
}

/* Menu (dropdown) */
.select-wrapper__menu {
  margin-top: 0;
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--bg-quaternary);
}

/* Menu list */
.select-wrapper__menu-list {
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

/* Option */
.select-wrapper__option {
  &:hover {
    background-color: rgba(var(--bg-tertiary-rgb), 0.6);
  }
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background-color: var(--bg-quaternary);
  transition: background-color 0.2s ease;
}

.select-wrapper__option--is-focused {
  background-color: var(--bg-tertiary);
}

/* Selected option (after pressing Enter) */
.select-wrapper__option--is-selected {
  background-color: var(--bg-quinary);
}

.select-wrapper__option:active {
  background-color: var(--bg-border);
}

/* Multi value */
.select-wrapper__multi-value {
  border: 1px solid var(--border-primary-highlight);
  background-color: var(--bg-tertiary);
  border-radius: 0.375rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.select-wrapper__multi-value__label {
  @apply text-xs;
}

.select-wrapper__multi-value__remove {
  @apply clickable rounded-sm;
  background-color: var(--error);
  color: white;
}

/* Placeholder */
.select-wrapper__placeholder {
  color: var(--text-secondary);
  font-weight: 300;
  font-style: italic;
}

/* Dropdown indicator */
.select-wrapper__dropdown-indicator {
  color: var(--text-secondary);
  transition: color 0.2s ease;
}

.select-wrapper__indicator-separator {
  display: none;
}

/* Input */
.select-wrapper__input {
  box-shadow: none;
}

.select-wrapper__single-value:empty::after {
  content: "Select...";
  color: var(--text-secondary);
  font-weight: 100;
}
