@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide border Firefox */
input:focus {
  outline: none; /* Remove the default focus ring */
  border: none; /* Remove the border on focus */
}

/* Hide spinner */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
